footer {
  margin: 2em 0em;
}

.bg-light {
  background-color: #000 !important;
}
.text-center {
  background-color: #000 !important;
  color: white;
}

.text {
  text-decoration: none !important;
  color: white !important;
  padding: 0px 5px 0px 5px;
}

.navbar-toggler-icon{
  color: #fff !important;
}